<!DOCTYPE html>
<html>

<head>
    <link rel="icon" href="./img/weather.png">
    <link rel="stylesheet" href="./css/styles.css">

    <script src="./js/app.js">  </script>
</head>

<body>

    <div class="main-content">
        {{>header}}
        <b> {{errorMsg}}</b>
    </div>

    <h2>{{>footer}}</h2>
</body>

</html>